<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Loginsrv</servlet-name>
        <servlet-class>com.srv.Loginsrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registersrv</servlet-name>
        <servlet-class>com.srv.Registersrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoutsrv</servlet-name>
        <servlet-class>com.srv.Logoutsrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidTendersrv</servlet-name>
        <servlet-class>com.srv.BidTendersrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updateprofilesrv</servlet-name>
        <servlet-class>com.srv.Updateprofilesrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepasssrv</servlet-name>
        <servlet-class>com.srv.Changepasssrv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Loginsrv</servlet-name>
        <url-pattern>/Loginsrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registersrv</servlet-name>
        <url-pattern>/Registersrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoutsrv</servlet-name>
        <url-pattern>/Logoutsrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidTendersrv</servlet-name>
        <url-pattern>/BidTendersrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updateprofilesrv</servlet-name>
        <url-pattern>/Updateprofilesrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepasssrv</servlet-name>
        <url-pattern>/Changepasssrv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
